/* styles.css */

/* Define color variables */
$black: #2c2c2c;
$purple: #800080;
$pagination-bg: #1d1d1d;
$pagination-hover-bg: #5e3787;
$pagination-hover-text: #434143;
$dropdown-bg: #1d1d1d;
$dropdown-hover-bg: #5e3787;
$dropdown-hover-text: #434143;

/* Import Raleway font */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

/* Custom styles for dark black background */
body {
  font-family: 'Raleway', sans-serif;
  background-color: $black;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Ensures the body takes the full viewport height */
  margin: 0; /* Removes default margin */
}

/* Additional styles for purple accenting */
.btn-primary, .btn-secondary {
  background-color: $purple;
  border: none;
  &:hover,
  &:focus {
    background-color: darken($purple, 10%);
    border-color: darken($purple, 10%);
  }
}

#clearFiltersButton {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
}

#clearFiltersButton:hover {
  background-color: darkred;
}


/* Define your custom margin value */
$custom-margin: 20px;

/* Apply the custom margin to all HTML elements except certain elements inside the navbar */
*:not(nav.navbar > .container-fluid > *):not(nav.navbar) {
  margin: $custom-margin;
}

/* Define your custom text color */
$custom-text-color: #c6c6c6;

/* Apply the custom text color to all HTML elements */
* {
  color: $custom-text-color;
}

#game-container {
  background-color: #262624;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 80%;
  max-width: 800px;
  text-align: center; /* Center the content inside the container */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; /* For absolute positioning of the dropdown */
  margin-top: 80px; /* Add space below the navbar */
}

#game-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.game {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 15px;
  width: 100%; /* Ensure game items take the full width of the container */
}

.game img {
  width: 200px; /* Fixed width */
  height: 200px; /* Fixed height */
  margin-right: 20px;
  border-radius: 5px;
  object-fit: cover;
}

.game-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align text to the left */
}

.game-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.game-release-date, .game-platforms, .game-genres {
  font-size: 14px;
  color: $custom-text-color;
  margin-top: 5px; /* Add some space between the details */
  text-align: left;
  width: 100%;
}

#pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

#pagination .page-item {
  margin: 0; /* Remove default margin */
}

#pagination .page-link {
  background-color: $pagination-bg;
  color: $custom-text-color;
  border: none; /* Remove border */
  margin: 0 2px; /* Add a small margin between buttons */
  padding: 10px 15px;
}

#pagination .page-link:hover {
  background-color: $pagination-hover-bg;
  color: $pagination-hover-text;
}

#pagination .page-item.disabled .page-link {
  background-color: #d3d3d3;
  cursor: not-allowed;
}

/* Define styles for the completed button */
.btn-completed {
  background-color: green;
  color: white;
  border: none;
  font-weight: bold;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 5px;
}

/* Define styles for the backlogged button */
.btn-backlogged {
  background-color: purple;
  color: white;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

/* Add hover effects for better user experience */
.btn-completed:hover {
  background-color: darkgreen;
}

.btn-backlogged:hover {
  background-color: darkmagenta;
}


/* Dropdown menu styles */
.dropdown-menu {
  background-color: #343a40;
  color: white;
}

.dropdown-item {
  color: white;
}

.dropdown-item:hover {
  background-color: #495057;
  color: white;
}

/* Dropdown toggle button styles */
.dropdown-toggle {
  background-color: $dropdown-bg;
  color: $custom-text-color;
  border: none;
}

.dropdown-toggle:hover, .dropdown-toggle:focus {
  background-color: $dropdown-hover-bg;
  color: $dropdown-hover-text;
}

/* Styles for game-details-page */
.game-details-page {
  text-align: left; /* Ensure text is aligned to the left */
}

.game-details-page h2 {
  font-weight: bold;
}

.game-details-page img {
  max-width: 100%; /* Ensures the image will not exceed the width of its container */
  height: auto; /* Maintains the aspect ratio */
  border-radius: 5px; /* Optional: adds rounded corners to the image */
}

/* Navbar button styles */
.navbar .btn-outline-success, .navbar .btn-outline-info {
  color: $custom-text-color;
  border-color: $custom-text-color;

  &:hover,
  &:focus {
    color: $dropdown-hover-text;
    background-color: $pagination-hover-bg;
    border-color: $pagination-hover-bg;
  }
}

/* Optional: additional styling for consistency */
.navbar .btn-outline-success:focus, .navbar .btn-outline-info:focus {
  box-shadow: 0 0 0 0.2rem rgba(94, 55, 135, 0.5);
}
