/* styles.css */

/* Define color variables */
$black: #2c2c2c;
$purple: #800080;
$pagination-bg: #1d1d1d;
$pagination-hover-bg: #5e3787;
$pagination-hover-text: #434143;
$dropdown-bg: #1d1d1d;
$dropdown-hover-bg: #5e3787;
$dropdown-hover-text: #434143;

/* Import Raleway font */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

/* Custom styles for dark black background */
body {
  font-family: 'Raleway', sans-serif;
  background-color: $black;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Ensures the body takes the full viewport height */
  margin: 0; /* Removes default margin */
}

/* Additional styles for purple accenting */
.btn-primary {
  &:hover,
  &:focus {
    background-color: darken($purple, 10%);
    border-color: darken($purple, 10%);
  }
}

/* Define your custom margin value */
$custom-margin: 20px;

/* Apply the custom margin to all HTML elements except certain elements inside the navbar */
*:not(nav.navbar > .container-fluid > *):not(nav.navbar) {
  margin: $custom-margin;
}

/* Define your custom text color */
$custom-text-color: #c6c6c6;

/* Apply the custom text color to all HTML elements */
* {
  color: $custom-text-color;
}

#game-container {
  background-color: #262624;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 80%;
  max-width: 800px;
  text-align: center; /* Center the content inside the container */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; /* For absolute positioning of the dropdown */
  margin-top: 80px; /* Add space below the navbar */
}


#game-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.game {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 15px;
  width: 100%; /* Ensure game items take the full width of the container */
}

.game img {
  width: 200px; /* Fixed width */
  height: 200px; /* Fixed height */
  margin-right: 20px;
  border-radius: 5px;
  object-fit: cover;
}

.game-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align text to the left */
  width: 100%;
}

.game-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.game-release-date, .game-platforms, .game-genres {
  font-size: 14px;
  color: $custom-text-color;
  margin-top: 5px; /* Add some space between the details */
  text-align: left;
  width: 100%;
}

#pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

#pagination .page-item {
  margin: 0; /* Remove default margin */
}

#pagination .page-link {
  background-color: $pagination-bg;
  color: $custom-text-color;
  border: none; /* Remove border */
  margin: 0 2px; /* Add a small margin between buttons */
  padding: 10px 15px;
}

#pagination .page-link:hover {
  background-color: $pagination-hover-bg;
  color: $pagination-hover-text;
}

#pagination .page-item.disabled .page-link {
  background-color: #d3d3d3;
  cursor: not-allowed;
}

/* Dropdown menu styles */
.dropdown-menu {
  background-color: $dropdown-bg;
}

.dropdown-item {
  color: $custom-text-color;
}

.dropdown-item:hover, .dropdown-item:focus {
  background-color: $dropdown-hover-bg;
  color: $dropdown-hover-text;
}

/* Dropdown toggle button styles */
.dropdown-toggle {
  background-color: $dropdown-bg;
  color: $custom-text-color;
  border: none;
}

.dropdown-toggle:hover, .dropdown-toggle:focus {
  background-color: $dropdown-hover-bg;
  color: $dropdown-hover-text;
}